<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Basica</title>
</head>

<body>
    <div class="contenedor">
        <header>
            <nav>
                <!-- nav permite agregar un menu (semantica)-->
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/bg.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Título del artículo</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, quo! Libero, debitis sequi ut
                        hic
                        aut necessitatibus, aspernatur suscipit perferendis, reiciendis doloremque delectus dignissimos
                        vel
                        consequatur nihil ratione id illum!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias, quo! Libero, debitis sequi ut
                        hic aut necessitatibus, aspernatur suscipit perferendis, reiciendis doloremque delectus
                        dignissimos vel
                        consequatur nihil ratione id illum!</p>
                </article>
            </section>
        </section>
        <aside>
            <!-- aside para la barra lateral-->
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, earum similique quis esse vel dolor
                    repudiandae at omnis aliquid enim iusto voluptate nihil aut eveniet unde alias inventore distinctio
                    harum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum, fuga assumenda? Libero
                    laborum sit quod mollitia repellendus natus optio veritatis nulla? Magni possimus ratione dolores
                    natus, quaerat vel perspiciatis quis.</p>
            </div>
        </aside>
        <footer>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </footer>
    </div>
</body>

</html>